body {
  padding-top: 50px; 
}
.main{
  margin-right: 35px;
  margin-left: 35px; 
}
#indHostTable{
  table-layout: fixed; 
} 
#indHostTable td{
  word-wrap: break-word; 
}
th,td{
  padding-left: 6px; 
  padding-right: 6px; 
}
.progress{
  margin-bottom: 10px; 
}
.well{
  margin-bottom: 0px; 
} 
